body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #000513;
    columns: 2;
}
nav{
    height: 100vh;
    width: 250px;
    background-color: #010211;
    display: flex;
    flex-direction: column;
}
#foto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
#foto p{
    font-size: 20px;
}
nav img{
    border: white solid 3px;
    border-radius: 50%;
    width: 70%;
    height: 70%;
}

hr{
    width: 100%;
    bottom: 10px;
}

#midias{
    position: absolute;
    bottom: 10px;
    margin-left: 1rem;
}
#midias a{
    text-decoration: none;
    color: #898989;
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
}
main{
    flex-grow: 1;
    background-color: #04002c;
    display: flex;
    flex-direction: column;
}
main section{
    width: 80%;
    height: 100%;
    align-self: center;
}

footer{
    height: 50px;
    align-self: center;
    margin-bottom: 10px;
}
footer img{
    margin-right: 10px
}
h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
    margin-bottom: 20px;
}
ul{
    font-size: 20px;
}
main section p{
    font-size: 20px;
    margin: 3px 0 3px 30px;
    margin-left: 30px;
}
